<!doctype html>
<html>

<head>
    <title>Python!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        
        .canvas-container {
            text-align: center;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class='canvas-container' style='width:75%;'>
        <h1>Python container</h1>
        <canvas id="canvas"></canvas>
        <canvas id="canvas1"></canvas>
    </div>
    <br>
    <br>
    <script>
        let porcentajes = [];
        let horas = [];
        let porcentajes1 = [20];
        let horas1 = ["hola"];
        let barChartData = {
            labels: horas,
            datasets: [{
                label: 'RAM',
                backgroundColor: "#FFD43B",
                borderColor: "#306998",
                borderWidth: 1,
                data: porcentajes
            }]
        };

        let barChartData1 = {
            labels: horas1,
            datasets: [{
                label: 'CPU',
                backgroundColor: "#306998",
                borderColor: "#FFD43B",
                borderWidth: 1,
                data: porcentajes1
            }]

        };

        setInterval(function() {
            $.ajax({
                url: "http://35.208.41.153:5000/data",
                type: "get"
            }).done(function(res) {
                let ram = res.ram;
                let cpu = res.cpu;
                console.log(ram)
                for (let i = 0; i < ram.length; i++) {
                    if (i < 10) {
                        porcentajes[i] = Number(ram[i].Valor);
                        horas[i] = ram[i].Tiempo;
                        continue;
                    }
                    break;
                }

                for (let i = 0; i < cpu.length; i++) {
                    if (i < 10) {
                        porcentajes1[i] = Number(cpu[i].valor);
                        horas1[i] = cpu[i].tiempo;
                        continue;
                    }
                    break;
                }
            }).always(() => {
                var ctx = document.getElementById('canvas').getContext('2d');
                var ctx1 = document.getElementById('canvas1').getContext('2d');

                window.myBar = new Chart(ctx, {
                    type: 'bar',
                    data: barChartData,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Porcentaje RAM'
                        }
                    }
                });
                window.myBar2 = new Chart(ctx1, {
                    type: 'bar',
                    data: barChartData1,
                    options: {
                        responsive: true,
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Porcentaje CPU'
                        }
                    }
                });
            });
        }, 5000);
    </script>
</body>

</html>